body {
  background-color: #e78fbd;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: font-family: 'Merriweather', serif;
  font-style: italic;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.post {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  margin-bottom: 50px;
}

.songs {
    color: rgb(46, 9, 46);
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.tunes {
    background-color: #d765A1;
    border-radius: 25px;
    padding: 10px;
    width: 25vw;
    height: 450px;
}

img {
    height: 250px;
    width: auto;
}

.button {
    background-color: #c14385;
    color: white;
}