body {
  background-color: #f28482;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: font-family: 'Merriweather', serif;
  font-style: italic;
}

.post {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
}

.songs {
    color: rgb(46, 9, 46);
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#first-love {
    background-color: #f5cac3;
    border-radius: 25px;
    padding: 10px;
   
}

#goodbye {
    background-color: #f5cac3;
    border-radius: 25px;
    padding: 10px;
}

#once-more {
    background-color: #f5cac3;
    border-radius: 25px;
    padding: 10px;
}

img {
    height: 250px;
    width: auto;
}

.button {
    background-color: #84a59d;
    color: white;
}